/* Whole document */

body {
    text-align: center;
    margin: 0%;
    max-width: 100vw;
    font-family: courier;
}

/* Document content */

#body {
    margin-top: 8rem;
    min-height: 50vh;
}

/*Document texts*/

h1 {
    margin-top: 7rem;
    font-size: 1.9rem;
    text-decoration: underline;
    font-weight: bolder;
}
h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5rem;
}
h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 3rem;
}
.txt {
    min-width: max(400px, 30%);
    max-width: min(80%, 700px);
    width: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: inline-table;
}
#body a {
    color: rgb(197, 138, 27);
}

/* Document images */

.img {
    width: 800px;
    max-width: 80%;
    margin: auto;
    display: block;
}
.img img {
    max-width: 100%;
    border-radius: 17px;
    box-shadow: 1px 1px 7px currentColor;
}
.img h6 {
    text-align: right;
    padding: 20px;
    margin: 0;
    font-style: italic;
    border-bottom: 2px dashed grey;
    font-size: 0.75rem;
}

/* Top banner */

#top_banner {
    height: auto;
    padding: 1.85rem;
    font-size: 1rem;
    border-bottom: 2px ridge rgb(206, 141, 19);
    text-align: left;
    background-color: rgb(27, 24, 24);
    box-shadow: 1px 2px 12px currentColor;
}
#top_banner section {
    width: max-content;
    display: inline;
    padding: 0;
}
#top_banner * {
    font-weight: lighter;
    display: inline;
}
#top_banner h6 {
    font-size: 1rem;
    font-family: courier;
    color: white;
    margin-left: 4rem;
}
#top_banner a {
    text-decoration: underline;
    font-style: italic;
}

/* Top banner logo section */

#logo_sect {
    border-right: 1px solid white;
}
#top_banner img {
    width: 2.7rem;
    border-radius: 12px;
    display: inline;
    position: absolute;
    margin-top: -0.85rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* Navigation section */

#navigation_sect {
    margin-left: 10px;
}

/* Top banner language section*/

#lang_sect {
    float: right;
}

/* Bottom banner */

#bottom_banner {
    background-color: rgb(27, 24, 24);
    border-top: 1px ridge rgb(206, 141, 19);
    box-shadow: 1px 1px 12px black;
    margin-top: 10vh;
    padding: 5vh 2rem 0 2rem;
    overflow: auto;
}
#bottom_banner section:not(#bottom_banner section section) {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}
#bottom_banner section section:not(#bottom_banner section section section) {
    width: max-content;
    max-width: 700px;
    margin: auto;
    display: block;
    padding: 0 20px 0 20px;
}
#bottom_banner section section section {
    display: inline-block;
}

/* Bottom banner images */

#bottom_banner .logo {
    height: 2.3rem;
    box-sizing: border-box;
}

/* Bottom banner texts */

#bottom_banner h6 {
    color: white;
    font-size: 0.9rem;
    font-weight: lighter;
    margin: 0 0 7px 0;
    text-align: left;
}
#bottom_banner a {
    color: white;
    font-style: italic;
}

/* Mobile friendly */

@media only screen and (max-width: 550px) {
    #logo_sect:first-child {
        display: none;
    }
}
@media only screen and (max-width: 440px) {
    .txt {
        min-width: 160px;
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 599px) {
    #bottom_banner .logo {
        height: 1rem;
    }
    #bottom_banner h6 {
        font-size: 0.4rem;
        min-width: fit-content;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.1rem;
    }
    h3 {
        font-size: 0.8rem;
    }
    .img h6 {
        font-size: 0.6rem;
    }
}